<nav>
  <a class="font" routerLink="/snikers">Sneakers List</a>
</nav>

<h1 class="font">{{title}}</h1>

<button mat-flat-button color="warn" (click)="initNewSniker()">Create New Sniker</button>

<app-sniker-edit [sniker]="snikerToEdit" ></app-sniker-edit>

<router-outlet></router-outlet>

<app-messages></app-messages>




<!-- <app-table></app-table> -->
<!-- <table>
  <thead>
    <th>Name</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Production year</th>
  </thead>
  <tbody>
    <tr *ngFor="let x of shoes">
      <td>{{x.name}}</td>
      <td>{{x.brand}}</td>
      <td>{{x.model}}</td>
      <td>{{x.productionYear}}</td>
      <td><button (click)="editSniker(x)">Edit</button></td>
    </tr>
  </tbody> -->

<!-- </table> -->
